<?xml version="1.0" encoding="utf-8"?>
<Database>
	<LeaderCivilizationBias>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_ILLYRIA_ROG" LeaderDomain="StandardLeaders" LeaderType="LEADER_MACHIAVELLI" Bias="1" ReasonType="LOC_UNLOCK_PLAY_AS_MACHIAVELLI_ILLYRIA_TOOLTIP" ChoiceType="LOC_CREATE_GAME_HISTORICAL_CHOICE"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_ILLYRIA_ROG" LeaderDomain="StandardLeaders" LeaderType="LEADER_AUGUSTUS" Bias="1" ReasonType="LOC_UNLOCK_PLAY_AS_AUGUSTUS_ILLYRIA_TOOLTIP" ChoiceType="LOC_CREATE_GAME_HISTORICAL_CHOICE"/>
	</LeaderCivilizationBias>
	<Civilizations>
		<Row Domain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_ILLYRIA_ROG" CivilizationName="LOC_CIVILIZATION_ILLYRIA_ROG_NAME" CivilizationFullName="LOC_CIVILIZATION_ILLYRIA_ROG_FULLNAME" CivilizationDescription="LOC_CIVILIZATION_ILLYRIA_ROG_DESCRIPTION" CivilizationIcon="illyria.png"/>
	</Civilizations>
	<CivilizationItems>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_ILLYRIA_ROG" Type="TRAIT_ILLYRIA_ROG" Kind="KIND_TRAIT" Name="LOC_TRAIT_ILLYRIA_ROG_NAME" Description="LOC_TRAIT_ILLYRIA_ROG_DESCRIPTION"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_ILLYRIA_ROG" Type="UNIT_OIKAIDES_ROG" Kind="KIND_UNIT" Name="LOC_UNIT_OIKAIDES_ROG_NAME" Description="LOC_UNIT_OIKAIDES_ROG_DESCRIPTION" Icon="UNIT_OIKAIDES_ROG"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_ILLYRIA_ROG" Type="UNIT_LEMBUS_ROG" Kind="KIND_UNIT" Name="LOC_UNIT_LEMBUS_ROG_NAME" Description="LOC_UNIT_LEMBUS_ROG_BASE_DESCRIPTION" Icon="UNIT_LEMBUS_ROG"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_ILLYRIA_ROG" Type="BUILDING_GRADINA_ROG" Kind="KIND_BUILDING" Name="LOC_BUILDING_GRADINA_ROG_NAME" Description="LOC_BUILDING_GRADINA_ROG_DESCRIPTION" Icon="BUILDING_GRADINA_ROG"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_ILLYRIA_ROG" Type="QUARTER_VLORE" Kind="KIND_QUARTER" Name="LOC_QUARTER_VLORE_NAME" Description="LOC_QUARTER_VLORE_DESCRIPTION" Icon="city_uniquequarter"/>
	</CivilizationItems>
	<CivilizationTags>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_ILLYRIA_ROG" TagType="TAG_TRAIT_EXPANSIONIST"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_ILLYRIA_ROG" TagType="TAG_TRAIT_MILITARISTIC"/>
	</CivilizationTags>
	<CivilizationUnlocks>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_ILLYRIA_ROG" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_SPAIN" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_SPAIN_NAME" Description="LOC_CIVILIZATION_SPAIN_DESCRIPTION" Icon="ICON_CIVILIZATION_SPAIN"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_ILLYRIA_ROG" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_NORMAN" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_NORMAN_NAME" Description="LOC_CIVILIZATION_NORMAN_DESCRIPTION" Icon="ICON_CIVILIZATION_NORMAN"/>
	</CivilizationUnlocks>
</Database>